# Python virtual environment
cv_env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# YOLO temporary/cache files
*.cache

# Project 3 - Smart Parking
03_smart_parking_detection/dataset/
03_smart_parking_detection/runs/
03_smart_parking_detection/weights/
03_smart_parking_detection/yolo11n.pt
03_smart_parking_detection/results/*.mp4
03_smart_parking_detection/results/*.avi
03_smart_parking_detection/models/pklot_yolo11n.pt

# Project 4 - Fruit Quality Inspection
04_fruit_quality_inspection/dataset/
04_fruit_quality_inspection/dataset_split/
04_fruit_quality_inspection/models/*.pth
